#events {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}
#events img {
    width: 100%;
    height: 50%;
    padding: 10px;
    margin-bottom: 50px;
    cursor: pointer;
}
