#events {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}
#eventPreview {
    width: 100vw;
    margin-bottom: 30px;
    height: 75vh;
    display: flex;
}
#eventBackground {
    position: absolute;
    overflow: hidden;
    height: 75vh;
    width: 100vw;
    z-index: -1;
    background-color: rgba(134, 0, 0, 0.497);
}
.eventBackgroundImage {
    width: 100%;
    height: 75vh;
    height: min-content;
    margin-bottom: 50px;
    filter: opacity(30%) saturate(0%);

    z-index: -1;
}
#event {
    width: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
#eventInfo {
    height: 80%;
    margin: 20px;
}
#eventInfo span {
    background-color: rgb(232, 232, 232);
}
.eventPoster {
    cursor: pointer;
    height: 80%;
    width: auto;
    margin: 20px;
    margin-left: 50px;
}

@media only screen and (max-width: 700px) {
    .eventPoster {
        height: 50%;
        margin-left: 0;
    }
    #event {
        flex-direction: column;
    }
}
