#comingsoon-intro {
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(255, 0, 0);
  cursor: pointer;
}

#comingsoon-intro h1 {
  margin: 50px;
  margin-left: 60px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  color: #b71f1f;
}

.close {
  height: 0;
  overflow: hidden;
}
.open {
  height: 100%;
}

/* ----In the page---- */

#comingsoon {
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.video {
  position: fixed;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.top_image {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toptriangle {
  opacity: 0.6;
}
.graffiti_img {
  opacity: 0.4;
}
#comingsoon img {
  width: 100%;
  object-fit: scale-down;
  z-index: 1;
}
.mixBlend {
  mix-blend-mode: color-dodge;
}
.othermixBlend {
  /* mix-blend-mode: color-dodge; */
  transform: scale(0.5);

  margin-top: -250px;
}
.bottom_logo {
  transform: scale(2);
  margin-top: 400px;
  margin-bottom: 400px;
  mix-blend-mode: color-dodge;
}

.comingsoonTextSection {
  width: 100vw;
  margin-bottom: 100px;
  z-index: 1;
  padding: 10%;
  background: rgba(0, 0, 0, 0.555);
}
.comingsoonInfo {
  margin-top: 100px;

  padding: 0;
  background: rgba(255, 255, 255, 0.777);
  color: black;
}

.comingsoonInfo p {
  text-align: center;
  font-size: 35px;
  /* font-weight: bold; */
  color: rgb(255, 0, 0);
  mix-blend-mode: hard-light;
  text-shadow: 4px 2px 1px #000000;
}

.description {
  color: transparent;

  background-color: #110b0b57;
  text-shadow: 1px 1px 3px rgba(255, 0, 0, 0.7);
  font-size: 120px;
  padding: 30px;
  text-align: justify;
}
.description p {
  word-wrap: break-word;
}

.artists {
  font-size: 16px;
  text-align: center;
  color: rgb(194, 14, 14);
}
.artist img {
  margin: 0;
  margin-top: 10px;
  padding: 0;
  background-color: #b7201f;
}

.artist {
  border-top: 1px solid #b71f1f54;
  /* padding-top: 10px; */
  /* margin-top: 40px; */
  /* margin-bottom: 50px; */
}
.artist p {
  margin-top: 0%;
}

.flash {
  animation-name: flashing;
  animation-duration: 0.2s;
  background-color: #110b0b9a;
  animation-iteration-count: infinite;
}

.slow_flash {
  animation-name: flashing;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.comingsoon-space {
  width: 100%;
  min-height: 100vh;
}
.links {
  text-align: center;
}
.disclaimer {
  font-style: italic;
}

#comingsoonBottomLogo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* filter: brightness(99990%); */
}
@keyframes flashing {
  0% {
    filter: brightness(60%);
  }

  15% {
    filter: brightness(1000%);
  }
  30% {
    filter: brightness(90%);
  }
  40% {
    filter: brightness(80%);
  }
  70% {
    filter: brightness(10%);
  }
  80% {
    filter: brightness(50%);
  }
  100% {
    filter: brightness(80%);
  }
}

@media only screen and (max-width: 900px) {
  .comingsoonInfo p {
    font-size: 16px;
  }
  .video {
    width: 100vw;
  }

  .description {
    font-size: 70px;
  }
}
