#comingsoon-intro {
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(0, 255, 85);
    cursor: pointer;
}

#comingsoon-intro h1 {
    margin: 50px;
    margin-left: 60px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 20px;
    color: #b71f1f;
}

.close {
    height: 0;
    overflow: hidden;
}
.open {
    height: 100%;
}

/* ----In the page---- */

#comingsoon {
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.video {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.top_image {
    width: 100vw;
    height: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top_img {
    /* margin-top: 50vw; */
    opacity: 0.8;
}
#comingsoon img {
    width: 100%;

    object-fit: scale-down;
    z-index: 1;
}
.mixBlend {
    mix-blend-mode: color-dodge;
}
.othermixBlend {
    /* mix-blend-mode: color-dodge; */
    transform: scale(0.5);

    margin-top: -250px;
}
.bottom_logo {
    transform: scale(2);
    margin-top: 400px;
    margin-bottom: 400px;
    mix-blend-mode: color-dodge;
}
.toptriangle {
    opacity: 0.7;
    transform: scale(0.75);
}

.comingsoonTextSection {
    width: 100vw;
    margin-bottom: 100px;
    z-index: 1;
    padding: 10%;
    background: rgba(0, 0, 0, 0.555);
}
.comingsoonInfo {
    margin-top: 100px;

    padding: 0;
    background: rgba(255, 255, 255, 0.777);
    color: black;
}

.comingsoonInfo p {
    text-align: center;
    font-size: 35px;
    /* font-weight: bold; */
    color: rgb(112, 255, 112);
    mix-blend-mode: hard-light;
    text-shadow: 4px 2px 1px #000000;
}

.description {
    text-shadow: 4px 4px 20px rgba(53, 255, 53, 0.539);
    font-size: 120px;
    padding: 10px;
    text-align: justify;
}
.description p {
    word-wrap: break-word;
}

.artists {
    font-size: 16px;
    text-align: center;
}
.artist img {
    margin: 0;
    margin-top: 10px;
    padding: 0;
    background-color: #b7201f;
}

.artist {
    border-top: 1px solid #b7201f;
    padding-top: 10px;
    margin-top: 40px;
    margin-bottom: 50px;
}
.artist p {
    margin-top: 0%;
}

.flash {
    animation-name: flashing;
    animation-duration: 1s;
    background-color: #110b0b57;
    animation-iteration-count: infinite;
}

.slow_flash {
    animation-name: flashing;
    animation-duration: 10s;
    background-color: #110b0b57;
    animation-iteration-count: infinite;
}
.comingsoon-space {
    width: 100%;
    min-height: 100vh;
}
.links {
    text-align: center;
}
.disclaimer {
    font-style: italic;
}

#comingsoonBottomLogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* filter: brightness(99990%); */
}
@keyframes flashing {
    0% {
        filter: brightness(0%) hue-rotate(200deg);
    }

    15% {
        filter: brightness(1000%);
    }
    30% {
        filter: brightness(50%);
    }
    40% {
        filter: brightness(5000%);
    }
    70% {
        filter: brightness(5%);
    }
    80% {
        filter: brightness(5000%);
    }
    100% {
        filter: brightness(50%);
    }
}

@media only screen and (max-width: 700px) {
    .comingsoonInfo {
        font-size: 16px;
    }
    .description {
        font-size: 70px;
    }
}
