#comingsoon {
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.video {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#comingsoon img {
    width: 100%;
    /* height: 100vh; */
    object-fit: scale-down;
    z-index: 1;
}
#comingsoon p {
    margin-bottom: 100px;
    z-index: 1;
    padding: 10%;
    background: rgba(0, 0, 0, 0.777);
}
.flash {
    animation-name: flashing;
    animation-duration: 1s;
    background-color: #110b0b57;
    animation-iteration-count: infinite;
}
.comingsoon-space {
    width: 100%;
    min-height: 100vh;
}

@keyframes flashing {
    0% {
        filter: brightness(0%);
    }

    25% {
        filter: brightness(10000%);
    }
    100% {
        filter: brightness(50%);
    }
}
