#home {
    width: 100vw;
    height: 100%;
}

#home ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.homeLi,
.homeLi a {
    width: 140px;
    height: 140px;
    margin: 30px;
    background-color: #dc1616;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Courier, "Courier New", monospace;
    font-size: 18px;
    font-weight: 500;
    transition: 500ms;
    color: rgb(0, 0, 0) !important;
}

.homeLi:hover {
    background-color: black;
    color: red !important;
    margin: 20px;
}

.hovering {
    background-color: black;
    color: #b7201f;
}
