#menu {
    position: absolute;
    top: 99px;
    right: 10px;
    display: flex;
    flex-direction: column;
    background-color: black;
    border: 1px solid red;
}

#menu a {
    font-size: 20px;
    display: flex;
    justify-content: center;
    transition: 300ms;
    margin: 5px;
    color: blueviolet;
}

#menu a:hover {
    background-color: red;
    color: rgb(255, 255, 255);
}
