#modalBackground {
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transition: 1s;
  background-color: rgba(0, 0, 0, 0.646);
  overflow: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
}

#close {
  position: absolute;
  right: 40px;
  top: 0;
  color: black;
  background-color: rgb(222, 0, 0);
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.isOpen {
  opacity: 1 !important;
}
.isClosed {
  opacity: 0 !important;
  pointer-events: none;
}
